{{ define "main" }}
<main>
    <style>
        /* Estilo general del iframe */
        .styled-calendar-container {
            width: 50%;
            border: none;
        }
    
        /* Media query para pantallas pequeñas (móviles) */
        @media (max-width: 768px) {
            .styled-calendar-container {
                width: 100%; /* Ancho del 100% en móviles */
                min-width: 300px; /* Ajusta el mínimo según sea necesario */
            }
        }
    </style>
    <article>
        <header class="mb-4 bg-primary-600">
            <span class="py-96">
                <h1 class="py-16 text-5xl font-black text-center text-white capitalize">
                    Noticias
                </h1>
            </span>
        </header>
        <section class="calendar-iframe my-8">
            <h2 class="text-center text-3xl font-semibold text-gray-800 dark:text-white">Próximas Novedades</h2>

            <p class="mb-8 font-light text-center text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">
                <br><br>
                Consulta los próximos eventos en el calendario: 
              </p>
            <div class="flex justify-center mt-4">
                <iframe 
                        src="https://embed.styledcalendar.com/#fWYVcvwalx9ov1ub9JO4" 
                        title="Styled Calendar" 
                        class="styled-calendar-container" 
                        style="width: 50%; border: none;" 
                        data-cy="calendar-embed-iframe">
                </iframe>                
            <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
            </div>
        </section>
        
        <section class="calendar-iframe my-8">
            <br><br>
            <h2 class="text-center text-3xl font-semibold text-gray-800 dark:text-white">Noticias Archivadas</h2>

        </section>

        {{ with .Content }}
        <div class="max-w-2xl px-6 mx-auto mt-6 prose dark:prose-invert dark:text-white">
            {{- . -}}
        </div>
        {{ end }}
        {{ partial "posts-template.html" . }}
    </article>
    <div class="max-w-xl mx-auto my-16">
        {{ partial "pagination" . }}
    </div>
</main>
{{ end }}