/* assets */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol,
    Android Emoji, EmojiSymbols;
}

/* Custom CSS */

#logo {
  font-family: "Quicksand";
}

#title {
  font-family: "Quicksand";
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  color: white !important;
}

/* Custom CSS end */
