<div class="w-full mx-auto text-center max-w-7xl md:text-left">
    <div class="w-1/2 px-4">
        <h1 class="font-black tracking-tight leading-extra-loose">
            <div class="block text-gray-900 xl:inline dark:text-gray-50">To Infinity
                <span class="text-primary-600 xl:inline">& Beyond&hellip;</span>
            </div>
        </h1>
        <p
           class="max-w-md mx-auto mt-3 text-gray-500 md:text-normal md: xl:text-lg dark:text-white sm:text-xl md:mt-5 md:max-w-3xl">
            Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat
            commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
        </p>
        <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
                <a href="#"
                   class="flex items-center justify-center w-full px-8 py-3 text-base font-black text-white bg-primary-600 border border-transparent rounded-md hover:bg-primary-700 md:py-4 md:px-10 md:text-lg">
                    Get started
                </a>
            </div>
            <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
                <a href="#"
                   class="flex items-center justify-center w-full px-8 py-3 text-base font-black text-primary-400 bg-white border border-transparent rounded-md hover:bg-gray-50 dark:bg-gray-900 dark:hover:bg-gray-900/80 md:py-4 md:px-10 md:text-lg">
                    Live Demo
                </a>
            </div>
        </div>
    </div>
</div>
<div class="relative z-0 w-full h-auto lg:h-full lg:w-1/2 md:rounded-bl-lg">
    <video autoplay loop muted poster="/images/home-rocket-indigo.webp">
        <source src="https://cloud.nusserstudios.com/video/tailbliss-home-rocket-indigo.mp4"
                type="video/mp4" />
    </video>
</div>